<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <title>Angular, D3, CoffeeScript</title>
    <script src="lib/angular.js" defer></script>
    <script src="lib/d3.js" defer></script>
    <script src="bin/main.js" defer></script>
    <script src="bin/stackedbarchart.js" defer></script>
</head>

<style type="text/css">

*, *:before, *:after {
    box-sizing: border-box;
}

#content {
    text-align: center;
}

stacked-bar-chart {
    display: block;
    margin: 40px auto;
    width: 1200px;
}

svg {
  display: block;
  font: 10px sans-serif;
  shape-rendering: auto;
}

.main_div {
    height: 800px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.left_axis {
    font-weight: bold;
}

.bottom_axis {
    fill: #444444;
}

.legend text {
    font-size: 12px; 
    fill: #444444;
}

</style>

<body>
    <!--Raw to avoid jinja processing angular templates-->
    {% raw %}

    <div id="content" ng-controller="ChartController">
        <button class="update-btns" ng-click="start_update()">Start updating</button>
        <button class="update-btns" ng-click="stop_update()">Stop updating</button>
        <stacked-bar-chart></stacked-bar-chart>
    </div>

    {% endraw %}
</body>

</html>
